In [14]:
import chardet
# 파일의 인코딩 확인
rawdata = open('결측치처리.csv', 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']
charenc

'utf-8'

In [18]:
import pandas as pd

df = pd.read_csv('결측치처리.csv',encoding = charenc)
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# # col 생략 없이 출력
pd.set_option('display.max_columns', None)
df.head()

,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,Bukayo Saka,Arsenal,eng ENG,"FW,MF",19.0,38,36,"2,978",33.1,11.0,7.0,9.0,2.0,2.0,6.0,0.0,0.33,0.21,0.54,0.27,0.48,9.7,8.2,6.9,15.2,0.29,0.21,0.50,0.25,0.46
1,Gabriel Dos Santos,Arsenal,br BRA,DF,23.0,35,35,"3,063",34.0,5.0,0.0,5.0,0.0,0.0,8.0,1.0,0.15,0.00,0.15,0.15,0.15,2.7,2.7,0.8,3.5,0.08,0.02,0.10,0.08,0.10
2,Aaron Ramsdale,Arsenal,eng ENG,GK,23.0,34,34,"3,060",34.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
3,Ben White,Arsenal,eng ENG,DF,23.0,32,32,"2,880",32.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.6,1.6,0.03,0.02,0.05,0.03,0.05
4,Martin Ødegaard,Arsenal,no NOR,MF,22.0,36,32,"2,785",30.9,7.0,4.0,7.0,0.0,0.0,4.0,0.0,0.23,0.13,0.36,0.23,0.36,4.8,4.8,6.8,11.6,0.16,0.22,0.38,0.16,0.38

In [19]:
len(df)

546

## 결측치 처리 방법
    - 채우기, 버리기, 평균내기

## 시각화주제 선정
    - 골 순도  페널티킥 제외
    - 예상 골 예측
    - 어떤 팀이 우승했는지 예측

In [20]:
df1 =df.copy()

In [21]:
df1.head()

,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,Bukayo Saka,Arsenal,eng ENG,"FW,MF",19.0,38,36,"2,978",33.1,11.0,7.0,9.0,2.0,2.0,6.0,0.0,0.33,0.21,0.54,0.27,0.48,9.7,8.2,6.9,15.2,0.29,0.21,0.50,0.25,0.46
1,Gabriel Dos Santos,Arsenal,br BRA,DF,23.0,35,35,"3,063",34.0,5.0,0.0,5.0,0.0,0.0,8.0,1.0,0.15,0.00,0.15,0.15,0.15,2.7,2.7,0.8,3.5,0.08,0.02,0.10,0.08,0.10
2,Aaron Ramsdale,Arsenal,eng ENG,GK,23.0,34,34,"3,060",34.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
3,Ben White,Arsenal,eng ENG,DF,23.0,32,32,"2,880",32.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.6,1.6,0.03,0.02,0.05,0.03,0.05
4,Martin Ødegaard,Arsenal,no NOR,MF,22.0,36,32,"2,785",30.9,7.0,4.0,7.0,0.0,0.0,4.0,0.0,0.23,0.13,0.36,0.23,0.36,4.8,4.8,6.8,11.6,0.16,0.22,0.38,0.16,0.38

In [22]:
df1 = df1.dropna(subset=['Nation']) #결측치 제거
df1.iloc[315:330]

,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
315,Kyle Walker,Manchester City,eng ENG,DF,31.0,20,20,"1,755",19.5,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.00,0.10,0.10,0.00,0.10,0.3,0.3,1.2,1.4,0.01,0.06,0.07,0.01,0.07
316,Riyad Mahrez,Manchester City,dz ALG,FW,30.0,28,15,"1,498",16.6,11.0,5.0,7.0,4.0,5.0,0.0,0.0,0.66,0.30,0.96,0.42,0.72,10.1,6.3,3.7,10.0,0.61,0.22,0.83,0.38,0.60
317,John Stones,Manchester City,eng ENG,DF,27.0,14,12,"1,119",12.4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.08,0.00,0.08,0.08,0.08,1.0,1.0,0.1,1.1,0.08,0.01,0.09,0.08,0.09
318,Oleksandr Zinchenko,Manchester City,ua UKR,DF,24.0,15,10,"1,047",11.6,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.00,0.34,0.34,0.00,0.34,0.4,0.4,2.0,2.5,0.04,0.18,0.21,0.04,0.21
319,Fernandinho,Manchester City,br BRA,"MF,DF",36.0,19,10,964,10.7,2.0,1.0,2.0,0.0,0.0,1.0,0.0,0.19,0.09,0.28,0.19,0.28,1.6,1.6,0.9,2.5,0.15,0.08,0.24,0.15,0.24
320,Nathan Aké,Manchester City,nl NED,DF,26.0,14,10,923,10.3,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.20,0.00,0.20,0.20,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16
321,Ferrán Torres,Manchester City,es ESP,FW,21.0,4,4,303,3.4,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.59,0.30,0.89,0.59,0.89,2.5,2.5,0.0,2.5,0.74,0.01,0.75,0.74,0.75
322,Cole Palmer,Manchester City,eng ENG,"FW,MF",19.0,4,1,123,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.3,0.3,0.2,0.5,0.23,0.17,0.39,0.23,0.39
323,Zack Steffen,Manchester City,us USA,GK,26.0,1,1,90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
324,Benjamin Mendy,Manchester City,fr FRA,DF,27.0,1,1,78,0.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.3,0.3,0.00,0.30,0.30,0.00,0.30
325,James Mcatee,Manchester City,eng ENG,"MF,FW",18.0,2,0,20,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.19,0.00,0.19,0.19,0.19
326,Liam Delap,Manchester City,eng ENG,FW,18.0,1,0,10,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
327,Kayky Chagas,Manchester City,br BRA,FW,18.0,1,0,7,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
328,CJ Egan-Riley,Manchester City,eng ENG,DF,18.0,1,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
329,David de Gea,Manchester United,es ESP,GK,30.0,38,38,"3,420",38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00

In [23]:
df1 = df1.reset_index()
df1.iloc[315:320]

,index,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
315,315,Kyle Walker,Manchester City,eng ENG,DF,31.0,20,20,"1,755",19.5,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.00,0.10,0.10,0.00,0.10,0.3,0.3,1.2,1.4,0.01,0.06,0.07,0.01,0.07
316,316,Riyad Mahrez,Manchester City,dz ALG,FW,30.0,28,15,"1,498",16.6,11.0,5.0,7.0,4.0,5.0,0.0,0.0,0.66,0.30,0.96,0.42,0.72,10.1,6.3,3.7,10.0,0.61,0.22,0.83,0.38,0.60
317,317,John Stones,Manchester City,eng ENG,DF,27.0,14,12,"1,119",12.4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.08,0.00,0.08,0.08,0.08,1.0,1.0,0.1,1.1,0.08,0.01,0.09,0.08,0.09
318,318,Oleksandr Zinchenko,Manchester City,ua UKR,DF,24.0,15,10,"1,047",11.6,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.00,0.34,0.34,0.00,0.34,0.4,0.4,2.0,2.5,0.04,0.18,0.21,0.04,0.21
319,319,Fernandinho,Manchester City,br BRA,"MF,DF",36.0,19,10,964,10.7,2.0,1.0,2.0,0.0,0.0,1.0,0.0,0.19,0.09,0.28,0.19,0.28,1.6,1.6,0.9,2.5,0.15,0.08,0.24,0.15,0.24

In [ ]:
for i in range(len(df1['Nation'])):
    df1['Nation'][i] = df1['Nation'][i][-3:]
df1['Nation']

In [26]:
del df1['index']

In [27]:
df1.to_csv('국가컬럼변경.csv',index = False)

In [29]:
df = pd.read_csv('국가컬럼변경.csv')
df.head()

,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,Bukayo Saka,Arsenal,ENG,"FW,MF",19.0,38,36,"2,978",33.1,11.0,7.0,9.0,2.0,2.0,6.0,0.0,0.33,0.21,0.54,0.27,0.48,9.7,8.2,6.9,15.2,0.29,0.21,0.50,0.25,0.46
1,Gabriel Dos Santos,Arsenal,BRA,DF,23.0,35,35,"3,063",34.0,5.0,0.0,5.0,0.0,0.0,8.0,1.0,0.15,0.00,0.15,0.15,0.15,2.7,2.7,0.8,3.5,0.08,0.02,0.10,0.08,0.10
2,Aaron Ramsdale,Arsenal,ENG,GK,23.0,34,34,"3,060",34.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
3,Ben White,Arsenal,ENG,DF,23.0,32,32,"2,880",32.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.6,1.6,0.03,0.02,0.05,0.03,0.05
4,Martin Ødegaard,Arsenal,NOR,MF,22.0,36,32,"2,785",30.9,7.0,4.0,7.0,0.0,0.0,4.0,0.0,0.23,0.13,0.36,0.23,0.36,4.8,4.8,6.8,11.6,0.16,0.22,0.38,0.16,0.38

In [30]:
len(df)

546